@model IEnumerable<College>

@{
    ViewData["Title"] = "College";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-black py-2">Your Tasks</h1>
            </div>
        </div>
    </div>
    <div class="card-body bg-secondary p-4">
        <div class="row pt-3">
            <div class="col-12 text-end">
                <input type="checkbox" class="btn-check" id="TimeButton"/>
                <label class="btn btn-primary" for="TimeButton"><i class="bi bi-clock"></i>&nbsp; Show/hide time</label>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12 text-end">
                <a asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create New Item
                </a>
            </div>
        </div>

        @if (Model.Any(s => s.Deadline < DateTime.Now))
        {
            <br/>

            <br/>

            <div class="card border-0 shadow mt-4">
                <div class="card-header bg-gradient ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-danger py-2">Tasks past deadline</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-primary bg-gradient p-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Deadline
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var obj in Model)
                            {
                                @if (obj.Deadline < DateTime.Now)
                                {
                                    <tr>
                                        <td width="15%">
                                            @obj.Title
                                        </td>
                                        <td width="55%">
                                            @obj.Description
                                        </td>
                                        <td width="20%">
                                            @obj.Deadline.ToString("dd/MM/yyyy")
                                            <span class="Time d-none">
                                                <br/>@string.Format("{0:00}:{1:00}", obj.Deadline.Hour, obj.Deadline.Minute)
                                            </span>
                                            <br/>
                                            @obj.Deadline.DayOfWeek
                                            <br/>
                                        </td>
                                        <td width="20%">
                                            @obj.Subject.Name
                                        </td>
                                        <td width="20%">
                                            <div class="w-75 btn-group" role="group">
                                                <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                                                <a onCLick=Delete('/Customer/College/Delete/@obj.Id') class="btn btn-danger mx-2"><i class="bi bi-x-circle"></i> Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }

        @if (Model.Any(s => s.Deadline >= DateTime.Now))
        {
            <br/>

            <br/>

            <div class="card border-primary mt-4">
                <div class="card-header bg-gradient ml-0 py-3">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h1 class="text-white py-2">Scheduled Tasks</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-primary bg-gradient p-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered" style="width:100%">
                            <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Deadline
                                </th>
                                <th>
                                    Subject
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var obj in Model)
                            {
                                @if (obj.Deadline >= DateTime.Now)
                                {
                                    <tr>
                                        <td width="15%">
                                            @obj.Title
                                        </td>
                                        <td width="55%">
                                            @obj.Description
                                        </td>
                                        <td width="20%">
                                            @obj.Deadline.ToString("dd/MM/yyyy")
                                            <span class="Time d-none">
                                                <br/>@string.Format("{0:00}:{1:00}", obj.Deadline.Hour, obj.Deadline.Minute)
                                            </span>
                                            <br/>
                                            @obj.Deadline.DayOfWeek
                                            <br/>
                                            @{
                                                var daysLeft = (obj.Deadline.Date - DateTime.Now.Date).Days;
                                                @if (daysLeft <= 1)
                                                {
                                                    <div class="text-danger">
                                                        @string.Join(" ", daysLeft.ToString(), daysLeft == 1 ? "more day" : "more days")
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div>
                                                        @string.Join(" ", daysLeft.ToString(), daysLeft == 1 ? "more day" : "more days")
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td width="20%">
                                            @obj.Subject.Name
                                        </td>
                                        <td width="20%">
                                            <div class="w-75 btn-group" role="group">
                                                <a asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                                                <a onCLick=Delete('/Customer/College/Delete/@obj.Id') class="btn btn-danger mx-2"><i class="bi bi-x-circle"></i> Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script src="~/js/college_index.js"></script>
    <script src="~/js/delete.js"></script>
}