@model HomeVM.CollegeLists

@if (Model.CollegePastDeadlineList.Any())
{
	<div class="card shadow border-0 mt-4">
		<div class="card-header bg-gradient ml-0 py-3">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="text-danger py-2">Tasks pas deadline</h1>
				</div>
			</div>
		</div>
		<div class="card-body bg-primary bg-gradient p-4">
			<div class="table-responsive">
				<table class="table table-striped table-bordered" style="width:100%">
					<thead>
						<tr>
							<th>
								Title
							</th>
							<th>
								Description
							</th>
							<th>
								Group
							</th>
							<th>
								Deadline
							</th>
							<th>
								Subject
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (College obj in Model.CollegePastDeadlineList)
						{
							<tr>
								<td width="15%">
									@obj.Title
								</td>
								<td width="55%">
									@obj.Description
								</td>
								<td>
									@obj.Group.Name
								</td>
								<td width="20%">
									@obj.Deadline.ToString("dd/MM/yyyy")
									<span class="Time d-none"><br />@String.Format("{0:00}:{1:00}", obj.Deadline.Hour, obj.Deadline.Minute)</span>
									<br />
									@obj.Deadline.DayOfWeek
									<br />
									@{
										int daysAgo = Math.Abs((obj.Deadline.Date - DateTime.Now.Date).Days);
										<div class="text-danger">
											@String.Join(" ", new string[2] {daysAgo.ToString(), daysAgo == 1 ? "day ago" : "days ago"})
										</div>
									}
								</td>
								<td width="20%">
									@obj.Subject.Name
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}

<br />
<br />

@if (Model.CollegeList.Any())
{
	<div class="card shadow border-0 mt-4">
		<div class="card-header bg-gradient ml-0 py-3">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="text-white py-2">Scheduled Tasks</h1>
				</div>
			</div>
		</div>
		<div class="card-body bg-primary bg-gradient p-4">
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th scope="col">
								Title
							</th>
							<th scope="col">
								Description
							</th>
							<th scope="col">
								Group
							</th>
							<th scope="col">
								Deadline
							</th>
							<th scope="col">
								Subject
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (College obj in Model.CollegeList)
						{
							<tr>
								<td width="15%">
									@obj.Title
								</td>
								<td width="45%">
									@obj.Description
								</td>
								<td width="10%">
									@obj.Group.Name
								</td>
								<td width="20%">
									@obj.Deadline.ToString("dd/MM/yyyy")
									<span class="Time d-none"><br />@String.Format("{0:00}:{1:00}", obj.Deadline.Hour, obj.Deadline.Minute)</span>
									<br />
									@obj.Deadline.DayOfWeek
									<br />
									@{
										int daysLeft = (obj.Deadline.Date - DateTime.Now.Date).Days;
										@if (daysLeft <= 1)
										{
											<div class="text-danger">
												@String.Join(" ", new string[2] {daysLeft.ToString(), daysLeft == 1 ? "more day" : "more days"})
											</div>
										}
										else
										{
											<div>
												@String.Join(" ", new string[2] {daysLeft.ToString(), daysLeft == 1 ? "more day" : "more days"})
											</div>
										}
									}
								</td>
								<td width="30%">
									@obj.Subject.Name
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
}
